@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: #000;
}

hr {
  border-color: #1b1b1b;
}
.container1 {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

.tittle {
  color: #f7f7f7;
  margin: 0px 0px 20px 0px;
  font-size: 1.55rem;
}

.container {
  display: grid;
  justify-content: center;
  background: #000;
  padding-bottom: 20px;
  border-radius: 10px;
}

.card {
  width: auto;
  background: #212223;
  padding: 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.card input {
  background: transparent;
  border: none;
  font-size: 1.9rem;
  color: #f7f7f7;
  max-width: 200px;
}

.card input:focus {
  outline: none; /* Remove a borda de foco padrão */
  border-color: transparent; /* Define a cor da borda para transparente quando focado */
  -webkit-appearance: none; /* Esconde as setas de aumento/diminuição no Safari */
}

.card input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Chrome e Safari */
}

.card input[type="number"]::-webkit-inner-spin-button,
.card input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome e Safari */
  appearance: none; /* Firefox */
}

.card p {
  color: grey;
  font-size: 0.8rem;
  margin-left: 10px;
}

.salario,
.descontos {
  margin-bottom: 15px;
}

.descontos-descricao,
.salario-descricao {
  display: flex;
  margin-bottom: 5px;
}

.dollar {
  width: 32px;
}

.vale-transporte p {
  margin-top: 7px;
}

.vale-transporte button {
  padding-top: 10px;
  padding: 10px 25px;
  border-radius: 5px;
  color: #000;
  font-size: 0.85rem;
  border: none;
}

.ativo {
  color: #f7f7f7;
  background-color: #0aaf51;
}

.vale-transporte-btn {
  margin-left: 10px;
}

.logos {
  display: grid;
  align-content: space-between;
  justify-items: center;
}

.logos p {
  color: #f7f7f7;
  font-size: 1rem;
  display: grid;
  margin: 0;
  text-align: center;
}

.chip {
  margin-top: 20px;
  display: grid;
  width: 54px;
}

.mastercard {
  display: grid;
}

.container2 {
  background: #212223;
  color: #f7f7f7;
  padding: 20px 20px 1px;
  border-radius: 10px 10px 0px 0px;
}

.descontos h2 {
  font-size: 1.25rem;
}

.descontos-lista div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 0.85rem;
  color: grey;
  margin-top: 10px;
}

.descontos-lista p {
  color: #0aaf51;
}

.container3 {
  display: flex;
  justify-content: center;
  background: #0aaf51;
}

.calcular {
  padding: 15px;
  border: none;
  background: #0aaf51;
  font-size: 1rem;
  font-weight: 500;
  color: #f7f7f7;
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
}

.calcular:hover {
  background: #13e46e;
}

@media (min-width: 800px) {
  .calcular {
    padding: 15px 469px;
  }
}

@media (max-width: 350px) {
  .container {
    margin: 0px 10px;
  }
  .card {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .card input {
    background: transparent;
    border: none;
    font-size: 1.6rem;
    color: #f7f7f7;
    max-width: 180px;
  }
}
